/* Variables */

// theme 01
//$base-color-01: #F92672;
//$base-color-01: #ff9900;
//$base-color-01: orange;
//$base-color-01: #F2540B;
$base-color-01: #F04A0E;
$base-bg-color-01: #0f0f0f;

// theme 02
//$base-color-02: #ffd900;
$base-color-02: #FFEF00;
$base-bg-color-02: #222;

// theme 03
$base-color-03: #6BE5F2;
$base-bg-color-03: #121212;

// theme 04
$base-color-04: #A2D92B;
$base-bg-color-04: #202020;