/* Variables */

// theme 01
$base-color-01: #F92672;
$base-bg-color-01: #202020;

// theme 02
$base-color-02: #A37EF2;
$base-bg-color-02: #202020;

// theme 03
$base-color-03: #6BE5F2;
$base-bg-color-03: #121212;

// theme 04
$base-color-04: #A2D92B;
$base-bg-color-04: #202020;