/*
 * Tema 01
 */
/* Variables */
body {
  position: relative;
  background-color: #f04a0e;
}
.cssgradients body {
  background-image: -webkit-linear-gradient(45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f), -webkit-linear-gradient(-45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f);
  background-image: -moz-linear-gradient(45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f), -moz-linear-gradient(-45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f);
  background-image: -o-linear-gradient(45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f), -o-linear-gradient(-45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f);
  background-image: -ms-linear-gradient(45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f), -ms-linear-gradient(-45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f);
  background-image: linear-gradient(45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f), linear-gradient(-45deg, #0f0f0f 25%, transparent 25%, transparent 75%, #0f0f0f 75%, #0f0f0f);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
}

::-moz-selection {
  background-color: #f04a0e;
  text-shadow: none;
  color: #666;
}

::-webkit-selection {
  background-color: #f04a0e;
  text-shadow: none;
  color: #666;
}

::selection {
  background-color: #f04a0e;
  text-shadow: none;
  color: #666;
}

#skills, #social, #copyright {
  background-color: #0f0f0f;
  width: 90%;
}

#social {
  bottom: 190px;
  height: 115px;
  left: 400px;
  overflow: hidden;
  position: absolute;
  -moz-transform: rotate(-45deg);
  /* FF3.5+ */
  -o-transform: rotate(-45deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(-45deg);
  /* Saf3.1+, Chrome */
  -ms-transform: rotate(-45deg);
  /* IE9 */
  transform: rotate(-45deg);
  width: 377px;
}

#copyright {
  color: #f04a0e;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  padding: 1em 0;
  text-align: center;
}

/* CONTENT */
.skills.wrapper {
  position: relative;
  padding: 0;
  height: 2080px;
}

.row {
  margin: 0 0 150px -100px;
  -moz-transform: rotate(-45deg);
  /* FF3.5+ */
  -o-transform: rotate(-45deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(-45deg);
  /* Saf3.1+, Chrome */
  -ms-transform: rotate(-45deg);
  /* IE9 */
  transform: rotate(-45deg);
}
.row .skills-list {
  float: left;
  font-family: 'Oswald',Arial,Helvetica,sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  text-transform: uppercase;
  width: 34.3em;
}
.row .skills-list li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid #f04a0e;
  color: #DDDFD4;
  margin: 0;
  padding: 0.3em 0 0.3em 0;
  text-align: right;
}
.row .skills-title {
  background-color: #F2540B;
  color: #942F01;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 42px;
  font-weight: 700;
  height: 195px;
  letter-spacing: -1px;
  text-align: center;
  text-transform: lowercase;
  -moz-transform: rotate(90deg);
  /* FF3.5+ */
  -o-transform: rotate(90deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(90deg);
  /* Saf3.1+, Chrome */
  -ms-transform: rotate(90deg);
  /* IE9 */
  transform: rotate(90deg);
  width: 195px;
}

.skills-list.tagline {
  background-image: none !important;
  font-family: 'Oswald',Arial,Helvetica,sans-serif;
  font-weight: 400;
  left: 20px;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  top: 180px;
  -moz-transform: rotate(-45deg);
  /* FF3.5+ */
  -o-transform: rotate(-45deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(-45deg);
  /* Saf3.1+, Chrome */
  -ms-transform: rotate(-45deg);
  /* IE9 */
  transform: rotate(-45deg);
}
.skills-list.tagline .name {
  color: #DDDFD4 !important;
  display: block;
  font-size: 36px;
  padding: 0 0 3px;
}
.skills-list.tagline li {
  background-color: transparent !important;
  color: #942F01 !important;
  display: inline-block;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

/* skill levels */
.beginner {
  width: 25%;
}

.basic {
  width: 50%;
}

.intermediate {
  width: 75%;
}

/* SOCIAL / ICOMOON */
.social.wrapper {
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
  width: 400px;
}

.social-links {
  font-size: 3em;
  padding: 1em 0;
  text-align: center;
}
.social-links li {
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
}
.social-links .icon-alone {
  height: 100%;
  line-height: 1.9em;
  text-decoration: none;
  width: 100%;
  color: #942F01;
  display: inline-block;
}
.social-links .icon-alone:hover {
  color: #0f0f0f;
  background-color: #f04a0e;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* THEMES */
.themes-bar {
  height: 150px;
  position: absolute;
  right: 15%;
  top: 6em;
  -moz-transform: rotate(45deg);
  /* FF3.5+ */
  -o-transform: rotate(45deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(45deg);
  /* Saf3.1+, Chrome */
  -ms-transform: rotate(45deg);
  /* IE9 */
  transform: rotate(45deg);
  width: 150px;
}

.styleswitcher {
  height: 100%;
  width: 100%;
}
.styleswitcher li {
  display: inline-block;
  height: 100%;
  width: 33.3%;
}
.csstransitions .styleswitcher li {
  transition: padding 0.3s ease 0s;
}
.no-touch .styleswitcher li:hover {
  padding: 5%;
}
.styleswitcher .theme-btn {
  display: block;
  height: 100%;
}
.styleswitcher li, .styleswitcher .theme-btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
