/*
 * Tema 03
 * 
 * Cor principal: $base-color-03 
 

    ESTRUTURA:

    NAV
    SKILLS
    LAB
    PORTFOLIO
    CONTACT
    SOCIAL
    THEMES

 */
/* Variables */
body {
  background-color: #6be5f2;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, #121212 25%, #121212 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, #121212 75%);
  background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, #121212 25%, #121212 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, #121212 75%);
  background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, #121212 25%, #121212 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, #121212 75%);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, #121212 25%, #121212 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, #121212 75%);
  background-size: 50px 50px;
  padding: 0 0 2em 0;
}

::-moz-selection {
  background: #6be5f2;
  text-shadow: none;
  color: #666;
}

::-webkit-selection {
  background: #6be5f2;
  text-shadow: none;
  color: #666;
}

::selection {
  background: #6be5f2;
  text-shadow: none;
  color: #666;
}

#skills, #social {
  background-color: #121212;
}

#copyright {
  color: #999999;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  padding: 1em 0 2em;
  text-align: center;
}

/* CONTENT */
.wrapper {
  margin: 0 auto;
  width: 96%;
  max-width: 960px;
}

.skills.wrapper {
  padding: 8em 0 3em;
}

.skills-list {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 .5em 0;
}
.skills-list li {
  display: inline-block;
  padding: 1px;
  color: #8b8b8b;
}
.skills-list li:nth-child(odd) {
  color: #6be5f2;
}

.skills-title {
  display: none;
}

.tagline .name {
  color: #FFFFFF !important;
}

/* SOCIAL / ICOMOON */
.social-links {
  font-size: 4em;
  text-align: center;
  padding: 1em 0 .5em 0;
}
.social-links li {
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
}
.social-links .icon-alone {
  height: 100%;
  line-height: 1.9em;
  text-decoration: none;
  width: 100%;
  color: #8b8b8b;
  display: inline-block;
}
.social-links .icon-alone:hover {
  color: #FFF;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* THEMES */
.themes-bar {
  left: 0;
  position: absolute;
  top: 3em;
  transition: background-color 0.3s ease 0s;
  width: 100%;
}

.styleswitcher {
  width: 100%;
  margin: 0 auto;
  height: 2em;
}
.styleswitcher li {
  padding: 0 0.5em;
  width: 25%;
  display: inline-block;
}
.styleswitcher .theme-btn {
  display: block;
}
.styleswitcher li, .styleswitcher .theme-btn {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ---------------------------------------------------------
 MEDIA QUERIES
 ---------------------------------------------------------*/
@media only screen and (max-width: 640px) {
  .themes-bar {
    top: 0;
  }

  .styleswitcher {
    height: 3em;
    width: 100%;
  }
  .styleswitcher li {
    padding: 0 0.2em;
  }

  .tagline .name {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .styleswitcher {
    width: 20%;
  }

  .skills.wrapper {
    width: 60%;
    padding: 10% 0 5% 0;
  }

  .skills-list {
    margin: 0;
  }

  .beginner {
    font-size: 40%;
  }

  .basic {
    font-size: 60%;
  }

  .intermediate {
    font-size: 80%;
  }
}
